{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <h1 class="mt-5 mb-2">Liste des bien</h1>
        
    {% for bien in biens %}
        <div class="col-4">
            <h3>{{ bien.title }}</h3>
            <p><img src="{{ bien.image }}" alt="placholder"></p>
            <p>{{ bien.description }}</p>
            <p>{{ bien.price }}.00€<br>{{ bien.category }}</p>
            <p>
                <a href="{{ path('bien_show', {'id': bien.id}) }}"><button class="btn btn-primary">En savoir plus</button></a>
            </p>
        </div>
    {% else %}
        <div>
            <p colspan="7">Aucun bien n'est encore en ligne !</p>
        </div>
    {% endfor %}

{% endblock %}
