{% extends 'base.html.twig' %}

{% block title %}Bien{% endblock %}

{% block body %}
    <h1 class="mt-5">{{ bien.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ bien.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ bien.price }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ bien.category }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ bien.image }}" alt="placholder"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home') }}">Retour à la liste des bien</a>

    {% if canEdit is defined %}

        <div class="d-flex justify-content-between">
            <a class="btn btn-success" href="{{ path('bien_edit', {'id': bien.id}) }}">Éditer</a>
            {{ include('bien/_delete_form.html.twig') }}
        </div>

    {% endif %}
{% endblock %}
