{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <h1>Bien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.title }}</td>
                <td>{{ bien.description }}</td>
                <td>{{ bien.price }}</td>
                <td>{{ bien.image }}</td>
                <td>{{ bien.category ? bien.category|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('bien_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('bien_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bien_new') }}">Create new</a>
{% endblock %}
